*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    width: 100vw;
    height: 80px;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

header nav{
    margin-right: 15px;
    margin-top: 10px;
}

header nav a{
    text-decoration: none;
    color: white;
    background-color: #747474;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 15px;
}

/* pagina interna partecipanti */

section{
    width: 100vw;
    height: calc(100vh - 160px);
    background-color: #000;
    overflow-y: auto;
}

section div{
    width: 90vw;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.partecipant{
    width: 250px;
    height: 150px;
    background-image: url(https://picsum.photos/200/150);
    background-size: cover;
    position: relative;
    margin: 5px 0;

}

.microfon-name{
    color: white;
    background-color: rgb(116, 116, 116, 0.8);
    padding: 5px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* footer con tasti navigazione */

footer{
    width: 100vw;
    height: 80px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    line-height: 25px;

}

footer i{
    font-size: 27px;
}

/* parte sinistra footer */
footer .fa-angle-up{
    font-size: 15px;
    vertical-align: middle;
    }

.nav-footer{
    display: flex;
    align-items: center;
}

/* parte centrale footer */
#share-green{
    color: rgb(75, 200, 0);
}


/* parte destra footer */

#end-meeting{
    height: 100%;
    background-color: #747474;
    padding: 0 20px;
    color: red;
    display: flex;
    align-items: center;
}

